$text-red-500: #EF4444;
$text-red-400: #F87171;

.text-red-500 {
  color: $text-red-500;
}

.dark {
  & .text-red-400 {
    color: $text-red-400;
  }
}

.text-center {
  text-align: center;
}

.cart-item-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  img {
    width: 150px;
  }
}

