.sale_label{
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-90deg, #ff1313 10%, #ffbf61 90%);
  border-radius: 1rem;
  font-size: 14px;
  padding-right: 6px;
  min-width: auto;
  width: auto !important;
  color: white;
  font-weight: bold;
}